[submodule "themes/bootstrap"]
	path = themes/bootstrap
	url = https://github.com/cgmartin/hexo-theme-bootstrap-blog.git
[submodule "themes/icarus"]
	path = themes/icarus
	url = https://github.com/ppoffice/hexo-theme-icarus.git
